body{
    background-color: #344a72;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.sign-up{
    background-color: white;
    max-width: 500px;
    height:700px;
}
.sign-up .header{
   text-align: center;
   padding:20px 20px;
}
.sign-up .header .title{
    font-size: 36px;
    padding-bottom: 20px;
}
.info{
    padding: 10px 25px;
}
.info li{
    margin-bottom: 20px;
    color: grey;
    
}
.info li label{
    font-size: 16px;
}
.info li input{
    display: block;
    margin-top: 10px;
    width: 450px;
    padding: 10px ;
    border: #ddd 1px solid;
    border-radius: 5px;
}
.info button{
    width: 450px;
    padding: 10px;
    background-color:#49c1a2;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.info button a{
    color: white;
}
.info button:hover{
    background-color: #37a08e;
}
.policy{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}
.policy  a{
    color: #49c1a2;
    line-height: 1.6;
}
.login{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.login a{
    color: #49c1a2;
}
