@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    margin:0;
    padding:0;
    background:#262626;
    font-family: 'Roboto', sans-serif;
}

.team{
    padding: 50px 0;/*no bottom*/
    height: 100px;
    box-sizing:border-box;
}

.container{/*set chieu ngang chua content*/
    width:80%;
    margin: 50px auto;
}

.row{
    position: relative;
    width:100%;
    box-sizing: border-box;
}
 .row h1{
     color: #fff;
     text-align: center;
     margin: 0;
     padding: 0;
     font-weight: 700;
     font-size:48px;
     text-transform: uppercase;

 }

 .row p{
     margin: 20px 0 0;/*khoang cach tu h1 den p*/
     color: #fff;
     padding-left: 20px;/*khoang cach tu border den text*/
     border-left: 5px solid #f00;
 }  

 .mgt50px{
     margin-top:50px; /*khoang cach tu text den pic*/
 }

 .row .column{
     margin: 0 10px;/*khoang cach phai giua cac anh*/
     position: relative;
     width: calc(25% - 20px);
     min-height: 250px; /*minimum height of element*/
     background: #fff;
     float: left;/**/
     box-sizing:border-box;
     overflow: hidden;/*when img zoom out and over the box then hide the rest of the img outsie*/
 }


 .row .column .imgBox{
     position: relative;
 }

 
 .row .column .imgBox img{
     width:100%;/*fit  */
     transition: 5s; /*the speed*/
 }

 
 .row .column:hover .imgBox img{
     transform: scale(1.5);/*pic will be bigger when mouse move over the pic*/
 }

 .row .column .details{
    position: absolute;
    bottom:-85px; /*content is hidden*/
    left:0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.9);
    width:100%;/**/
    transition: .5s;
 }

 .row .column:hover .details{
     bottom: 0;
 }

 .row .column .details h3{
     margin:0;
     padding:0;
     color:#fff;
     font-weight: 500;
     text-align: right;
     text-transform: uppercase;
 }

 .row .column .details h3 span{
     margin:0;
     padding:0;
     font-size:14px;
     color:#f00;
     font-weight: 900;
     text-transform: uppercase;
     position: relative;
     top:-6px;
 }
 .row .column .details ul{
     margin: 0;
     padding: 0;
     display: flex; /*icons hang doc*/
     float: right;
 }
 .row .column .details ul li{
    list-style: none;
 }
 .row .column .details ul li a{
     padding: 0 10px;
     color: #fff;
 }

 
 .row .column .details ul li a:hover .fab{
    transition: .5s; 
    transform: rotateY(360deg); /*xoay theo chieu ngang 360 do*/
     color: #fff;
 }